.player-list{
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.dark-mode {
  background-color: black;
  color: grey;
}

.dark-mode button {
  background-color: grey;
  color: white;
}
